__pycache__/
*.py[cod]
*.pkl
data/raw/**
!data/raw/interactions.dvc
!data/raw/products.dvc
data/processed/**
!data/processed.dvc
data/*.db
logs/*.log
airflow/logs/
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/standalone.log
airflow/simple_auth_manager_passwords.json.generated
.DS_Store
feature_store/*/
!feature_store/feature_registry.json
.env
venv/
