__pycache__/
*.py[cod]
*.pkl
data/raw/**
!data/raw/interactions.dvc
!data/raw/products.dvc
data/processed/**
!data/processed.dvc
data/*.db
logs/*.log
feature_store/*/
!feature_store/feature_registry.json
.env
venv/
